
body {
  background-color: darkgreen;
}

#board {
  width: 440px;
  height: 440px;
  border: 1px solid white;
  background-color: black;
}

#score, #highScore {
  color: white;
}

.snake, .apple {
  display: block;
  width: 20px;
  height: 20px;
  position: absolute;
  user-select: none;
}

.snake {
  background-color: rgb(127, 19, 243);
  z-index: 2;
}

#snake-head {
  background-color: darkgreen;
}

.apple {
  background-color: rgb(255, 251, 0);
  z-index: 1;
}